/* Status */
.status {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.status .statusBtn {
    background: #f1f1f1;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #555;
    padding: 0 10px;
    text-align: left;
}

.status .statusBtn:hover {
    background: #ddd;
}

/* Posts */
.posts .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.posts .card-header .dropdown-menu {
    position: absolute;
    right: 0;
    left: inherit !important;
}
